.app {
    height: 100%;
    width: 100%;
}

.app_header {
    height: 10%;
    background-color: #2f3440;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.app_content {
    height: 80%;
    background-color: rgb(243, 79, 89);
}

.app_footer {
    height: 10%;
    font-size: 12px;
    color: #bbb;
    background-color: rgb(47, 52, 64);
    display: flex;
    justify-content: center;
    align-items: center;
}

.app_header a {
    color: #fff;
}

.app_header a:hover {
    color: gold;
    font-weight: 700;
}