.movieList_container {
    height: 100%;
    overflow-y: scroll;
}

.movieList_item {
    display: flex;
    height: 10rem;
    padding-left: 3rem;
}

.movieList_item img {
    width: 5rem;
    height: 9rem;
}

.movieList_item div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 3rem;
}

.movieList_item h1 {
    font-size: 1rem;
}

.movieList_hide {
    display: none;
}

.movieList_show {
    background-color: rgb(108, 203, 235);
    text-align: center;
}